[submodule "vendor/symfony2-autocomplete"]
	path = vendor/symfony2-autocomplete
	url = git://github.com/KnpLabs/symfony2-autocomplete.git
[submodule "vendor/dircolors"]
	path = vendor/dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vendor/git-remote-hg"]
	path = vendor/git-remote-hg
	url = https://github.com/felipec/git-remote-hg.git
[submodule "vendor/git-flow-completion"]
	path = vendor/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "vendor/heroku_bash_completion"]
	path = vendor/heroku_bash_completion
	url = https://github.com/rafmagana/heroku_bash_completion.git
[submodule "vendor/composer-bash-completion-plugin"]
	path = vendor/composer-bash-completion-plugin
	url = git@github.com:stecman/composer-bash-completion-plugin.git
