# ==============================================================================
# Export password as environmental variables to make development easier
# Only use in a development environment with trivial passwords
# ==============================================================================


# ==============================================================================
# For Symfony projects, the following password will be available in the
# `parameters.yml` file as the `%password%` variable.
# ------------------------------------------------------------------------------
export SYMFONY__PASSWORD='S3cr3t P@ssw0rd'
# ==============================================================================
